.items{
    color:cornflowerblue;
}
/* Counts from BOTTOM UP */
/* TIC TAC TOE<td> affected */
/* td:nth-last-of-type(3){
    background-color: cornflowerblue; */
}

/* Targets adjacent(next to) */
 h1 + p{
    color:green;
}

/* TIC TAC TOE */
td{
    /* background-color: cornflowerblue; */
    width:100px;
    height:100px;
}
.vertical{
    border-left: 1px black solid;
    border-right: 1px black solid;
}
.horizontal{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.tic{
    margin:auto;
}
h1{
    text-align: center;
}